<section id="search-artist">

    <form action="/artist-search" method="GET" class="form-search">

    <input name="search" type="text" placeholder="Who you want to listen today !?" required>
    <button id="button-search">Here we go</button>

    </form>
</section>